html,
body {
  margin: 0;
}

#card {
  display: flex;
  height: 100vh;
}

#card-details {
  display: flex;
  background-color: rgb(218, 218, 218);
  width: 70vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding-right: 3vw;
  text-align: right;
}

#card-head {
  display: flex;
  flex-direction: column;
  background-image: url("tiles.jpg");
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 100%;
}

img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

h1 {
  font-size: 72px;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 22px;
}

p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

ul {
  padding: 0px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

li a {
  font-size: 4vh;
  padding: 2vh;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a svg {
  width: 100%;
  height: 100%;
}

div a {
  font-size: 24px;
  margin-top: 20px;
  color: white;
}

@media (max-width: 800px) {
  h1 {
    margin: 40px 0 0 0;
  }
  img {
    margin-top: 40px;
  }
  #card {
    flex-direction: column;
  }
  #card-details {
    width: 100vw;
    align-items: center;
    text-align: center;
  }
  #card-head {
    width: 100vw;
    left: 0;
    right: 0;
  }
}
